body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board {
}

.instruction-board {
  margin-left: 100px;
  float: left;
  width: 500px;
}

.game-board {
  margin-left: 100px;
  float: left;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
}

.square {
  background: LightGreen;
  border: 1px solid #999; 
  float: left; 
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.square:hover {
  opacity: 0.5;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.start {
  text-align: center;
  background: Gold;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 30px;
  height: 100px;
  width: 200px;
}
